.createClassDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.classListDiv {
    height: 47vh;
    width: 100%;
    background-color: rgb(171, 171, 172, 0.9);
    border-top: 2px solid rgba(1, 5, 53, 0.9);
}

.classButtonDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 12vh;
    background-color: whitesmoke;
    border-top: 2px solid rgba(1, 5, 53, 0.9);
}

.inputClassDiv {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    height: 219px;
    width: 100%;
    margin: 0;
    background-color: whitesmoke;
    border-top: 2px solid rgba(1, 5, 53, 0.9);
}

.changeMode {
    position: absolute;
    bottom: 283px;
    right: 20px
}

.completeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: whitesmoke;
    height: 100px;
    width: 200px;
}

.warningText {
    padding-left: 5px;
    height: 100px;
    width: 70px;
    margin-bottom: 13px;
    font-size: 15px;
    text-align: center;
    color: rgba(0, 168, 255, 0.7);
}

.studentLabelDiv {
    display: flex;
    padding-top: 10px;
}

.studentInputField {
    border-radius: 7px;
    padding-left: 5px;
    height: 25px;
    border-right: 5px solid whitesmoke;
    background-color: whitesmoke;
    margin-right: 5px;
    width: 80%;
    font-size: 20px;
    /* margin-left: 10px; */
}

.studentInputLabel {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 2px;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 45px;
    font-size: 20px;
    padding-left: 5px;
    color: whitesmoke;
    background-color: rgba(1, 5, 53, 0.9);
}

.listDiv {
    display: flex;
    flex-direction: column;
}

/* .lowerDiv {
    display: flex;
    padding-left: 15px;
    background-color: yellow;
    height: 290px;
    width: 700px;
} */
.removeButton {
    margin-right: 10px;
    height: 27px;
    justify-self: right;
    background-color: rgba(0, 168, 255, 0.7);
}

.removeButton:hover {
    overflow: hidden;
    background-image: linear-gradient(270deg,rgba(0, 168, 255, 0.7),rgba(1, 5, 53, 0.9));
    background-size: 400% 400%;
    animation: TransitioningBackground 10s ease infinite;
    transition: 0.6s;
	cursor: pointer;
}

.blankClass {
    position: relative;
    margin-top: 35px;
    margin-left: 35px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 80%;
    width: 700px;
    background-color: rgb(231, 217, 217);
    font-size: 40px;
    color:rgba(1, 5, 53, 0.9);
    overflow-wrap: normal;
    overflow: hidden;
    border-radius: 3%;
    box-shadow: 4px 4px 10px 1px rgba(136, 136, 145, 0.9);
}

.infoDiv {
    display: flex;
    justify-content: center;
}

.className {
    margin-top: 30px;
    font-size: 40px;
}

.password {
    position: absolute;
    right: 20px;
}

.studentName {
    margin-left: 0px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 35px;
    width: 250px;
}

.studentNameDiv {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    height: 320px;
    width: 700px;
    flex-flow: column wrap;
}
