.footer-container {
  border-top: 1px solid gray;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: avenirroman,Helvetica,Arial,sans-serif;
  width: 100vw;
  color: #035e8b;
}

.github-links {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  /* margin-top: 5px; */
  color:#00a8ff;
  /* border: 1px solid red; */
}

.footer-container p {
  color: #00a8ff;
  font-family: avenirroman,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 34px;
  margin-left: 10px;
}

.github-profs {
  /* background-image: url("../Assets/bperry.png"); */
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
}

.footer-content {
  /* border: 1px solid red; */
  font-family: avenirroman,Helvetica,Arial,sans-serif;
  width: 500px;
  margin-right: 10px;
}
