.footer-container {
  /* background-color: gray; */
  margin: 0 auto;
}

.footer-container p {
  color: #8b9195;
  font-family: avenirroman,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    margin-left: 10px;
}

.footer-container a .bperry{
  border: 1px solid black
}
