.footer-container {
  /* background-color: gray; */
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #215C89;
  flex-direction: column;
}

.footer-container p {
  color: black;
  font-family: avenirroman,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    margin-left: 10px;
}

.github-profs {
  /* background-image: url("../Assets/bperry.png"); */
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
}
