.image {
  content:url("../Assets/logo.png");
  width: 200px;
}

.sign-up {
  color: white;
  background-color: green;
  border-radius: 6px;
}

.log-in {
  color: green;
  text-decoration: none;
  align-self: center;
}

.nav-bar {
  display: flex;
  /* border: 1px solid black; */
  /* justify-content: space-between; */
  align-items: center;
  font-family: avenirheavy,Helvetica,Arial,sans-serif;
  position: absolute;
}

.nav-bar > .logo {
  /* border: 1px solid red; */
  text-decoration: none;
  font-size: 25px;
  align-self: center;
  margin-left: 100px;
}

.first-logo {
  color: #F26C59;
}

.second-logo {
  color: #7ADB85;
}

.buttons {
  display: flex;
  width: 175px;
  font-family: avenirheavy,Helvetica,Arial,sans-serif;
  /* border: 1px solid green; */
  justify-content: space-between;
  margin-left: 925px;
  margin-bottom: 25px;
  /* font-family: avenirheavy,Helvetica,Arial,sans-serif; */
}
