.sign-up {
  color: white;
  background-color: green;
  border-radius: 6px;
}

.log-in {
  color: green
}

.nav-bar {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  /* background-color: orange; */
  /* background-image: url("../Assets/book3.png"); */
  /* background-size: cover;
  background-position: center; */
  width: 100%;
  font-family: avenirheavy,Helvetica,Arial,sans-serif;
}

.nav-bar > .logo {
  /* border: 1px solid red; */
  text-decoration: none;
  font-size: 25px;
}

.first-logo {
  color: #F26C59;
}

.second-logo {
  color: #7ADB85;
}

.buttons {
  display: flex;
  width: 175px;
  font-family: avenirheavy,Helvetica,Arial,sans-serif;
  /* border: 1px solid green; */
  justify-content: space-between;
  /* font-family: avenirheavy,Helvetica,Arial,sans-serif; */
}
