.student-content {
  position: absolute;
  margin-top: 150px;
  margin-left: 125px;
  font-family: avenirheavy,Helvetica,Arial,sans-serif;
  color: #215C89;
  font-size: 25px;
}

.teacher-content {
  position: absolute;
  margin-top: 150px;
  margin-left: 825px;
  font-family: avenirheavy,Helvetica,Arial,sans-serif;
  color: #215C89;
  font-size: 25px;
}

.widgets {
  display: flex;
  background-image: url("../Assets/book3.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  margin: 0 auto;
  /* border: 1px solid black; */
  justify-content: space-between
  /* border: 1px solid orange; */
}

.student-widget {
  display: flex;
  /* border: 1px solid black; */
  color: white;
  width: 225px;
  height: 168px;
  background-color: #F26C59;
  border-radius: 20px;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  margin-left: 300px;
  margin-top: 300px;
  box-shadow: 0 9px 9px rgba(0,0,0,.16);
  /* position: relative; */
}

.teacher-widget {
  background-color: #7ADB85;
  display: flex;
  /* border: 1px solid black; */
  color: white;
  width: 225px;
  height: 168px;
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 300px;
  margin-top: 300px;
  box-shadow: 0 9px 9px rgba(0,0,0,.16);
  /* justify-content: center; */
  /* position: relative; */
}

.student-widget_title {
  padding: 0px;
}

.student-widget h2 {
  display: block;
  padding-bottom: 0px;
  /* margin-top: 20px; */
  /* border: 1px solid black; */
  /* color: red */
}

.student-widget p {
  /* display: block; */
  margin-right: 5px;
  /* padding-right: 15px; */
  /* border: 1px solid black */
  position: relative;
}

.full-name {
  /* display: block; */
  margin-top: 0px;
  margin-bottom: 5px;
}

.code {
  display: block;
  margin-bottom: 25px;
  /* position: relative; */
}

.signup-button {
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: #56A978;
  color: white;
  border-radius: 8px;
  width: 170px;
  height: 40px;
  box-shadow: 0 8px 12px -11px rgba(0,0,0,.75);
}

.signup-button:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.teacher-widget h2 {
  display: block;
  padding: 0px;
  margin-top: 30.5px;
}

.teacher-widget p {
  padding-bottom: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
  /* border: 1px solid black; */
}

.teacher-widget a:visited{
  color: white;
}
