.splash-container {
  background-image: url("../Assets/book1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-color: white;
  /* border: 1px solid black; */
  position: relative;
  display: flex;
  justify-content: center;
}

.splash-container_content {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  align-items: center;
  position: absolute;
  width: 65%;
  margin-top: 150px;
  margin-left: 150px;
}

.teacher-content {
  font-family: avenirheavy,Helvetica,Arial,sans-serif;
  color: #215C89;
  font-size: 50px;
  /* border: 1px solid black; */
}

.widgets {
  display: flex;
  width: 48%;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.student-widget {
  display: flex;
  /* border: 1px solid green; */
  color: white;
  width: 225px;
  background-color: #F26C59;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 9px 9px rgba(0,0,0,.16);
}

.student-login_form {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.student-form_input {
  border-radius: 8px;
  height: 30px;
}

.student-form_submit {
  border-radius: 8px;
  height: 40px;
  width: 164.8px;
  background-color: #e74d1f;
  color: white;
}

.student-form_submit:hover {
  background-color: #b12900;
  cursor: pointer;
}

.teacher-widget {
  background-color: #7ADB85;
  display: flex;
  /* border: 1px solid red; */
  color: white;
  width: 225px;
  border-radius: 20px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 9px 9px rgba(0,0,0,.16);
}

.teacher-title {
  /* border: 1px solid black; */
  margin-top: 0px;
}

.signup-button {
  background-color: #56A978;
  color: white;
  border-radius: 8px;
  width: 170px;
  height: 40px;
  box-shadow: 0 8px 12px -11px rgba(0,0,0,.75);
}

.signup-button:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.teacher-widget a:visited{
  color: white;
}

@media screen and (max-width: 1000px) {

  .splash-container_content {
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid green; */
    margin-top: 0px;
    margin-left: 0px;
  }

  .widgets {
    margin-right: 100px;

  }

  .student-form_input {
    width: 125px;
  }

  .student-form_submit {
    width: 133px;
  }

  .signup-button {
    width: 100px;
  }
}
