
.majorCardDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 350px;
    width: 100%;
    cursor: pointer;
}


.deckBuildView {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    background-color: rgba(165, 93, 94, 0.8);
    overflow-x: scroll;
}

.deckBuildView {
    overflow: scroll;
}

.deckBuildView::-webkit-scrollbar {
	display: none;
}

.addCardDiv {
    height: 500px;
}

.addedCardsDiv {
    display: flex;
    height: 90%;
    width: 2500px;
    overflow: scroll;
}

.addedCards {
    display: flex;
    justify-content: flex-start;
    width: 350px;
    height: 100%;
}

.addCardText {
    height: 40px;
    padding-left: 20px;
    padding-top: 10px;
    color: rgb(32, 60, 87, 0.7);
    background-color: rgba(165, 93, 94, 0.8);
    font-size: 22px;
    align-items: center;
}
