.createCardDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-top: 4px solid rgba(1, 5, 53, 0.9);;
}

.assignmentDiv {
    background-color: rgb(66, 66, 133, 0.9);
}

.studentDiv {
    background-color: rgb(171, 171, 172, 0.9);

}

.videoDiv {
    background-color: rgba(13, 231, 202, 0.9);
}

.sideBarDiv {
    background-color: rgba(1, 5, 53, 0.9);
}


.blankCard {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    width: 85%;
    background-color: rgb(231, 217, 217);
    font-size: 40px;
    color: rgba(5, 13, 133, 0.9);
    overflow-wrap: normal;
    overflow: hidden;
    border-radius: 3%;
}

.upperDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    background-color: rgb(171, 171, 172, 0.9);
}

.inputDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    width: 100%;
    /* background-color: aquamarine; */
}

.cardImageDiv {
    height: 320px;
    width: 600px;
    bottom: 310px;
    background-color: darkgoldenrod;
    border-top: 2px solid rgba(1, 5, 53, 0.9);
}

.cardImage {
    width: 100%;
    height: 100%;
}

.questionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgb(231, 217, 217);
    overflow-wrap: break-word;
}

.subject {
    position: absolute;
    top: 15px;
    left: 20px;
}

.choiceDiv {
    display: flex;
    justify-content: center;
    border-top: 2px solid rgba(1, 5, 53, 0.9);
    border-right: 2px solid rgba(1, 5, 53, 0.9);
    height: 100%;
    width: 100%;
    background-color: rgb(231, 217, 217);
}

.choices {
    margin-top: 20px;
}

.lowerDiv {
    display: flex;
}

.inputForm {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: darkolivegreen; */
    font-size: 25px;
}

.inputDiv {
    width: 100%;
    background-color: rgb(171, 171, 172, 0.9);
    margin-bottom: 10px;

}

.inputLabel {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
    width: 100%;
    font-size: 22px;
    color: whitesmoke;
    background-color: rgba(1, 5, 53, 0.9);
}

.inputField {
    height: 30px;
    width: 85%;
    font-size: 25px;
    margin-left: 10px;
}
