.createCardDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: rgb(32, 60, 87);
    background-color: rgba(165, 128, 93, 0.5)
}

.blankCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    width: 750px;
    background-color: rgb(243, 245, 246, 0.8);
    background-image: url('../../images/paper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2000px;
    font-size: 40px;
    color:rgb(32, 60, 87);
    overflow-wrap: normal;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 1px rgba(88, 58, 58, 0.9);
}

.upperDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62%;
    width: 100%;
    background-color: rgba(165, 93, 94, 0.5);
    border-bottom: 6px solid rgb(32, 60, 87);
}

.inputDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 38%;
    width: 100%;
}

.placeholderText {
    position: absolute;
    bottom: 110px;
    right: 25px;
    font-size: 30px;
    color: rgba(1, 5, 53, 0.5);
}

.createCardHeader {
    font-size: 30px;
}
/*
@media only screen and (max-width: 1000px) {
	.blankCard {
        height: 375px;
        width: 650px;
    }
    .cardImageDiv {
        height: 200px;
        width: 380px;
    }
    .placeholderText {
        font-size: 25px;
    }
}

@media only screen and (max-width: 900px) {
	.blankCard {
        height: 300px;
        width: 550px;
    }
    .cardImageDiv {
        height: 175px;
        width: 280px;
    }
    .placeholderText {
        font-size: 18px;
    }
    .createCardHeader {
        font-size: 15px;
    }
} */

.questionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 140px;
    width: 750px;
    overflow-wrap: break-word;
    font-size: 35px;
}

.createCardHeaderDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    width: 100%;
}

.subject {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 25px;
}

.choiceDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 200px;
    width: 750px;
    font-size: 35px;
    overflow-x: scroll;
    margin-left: 20px;
}

.choiceDiv {
    overflow: scroll;
}

.choiceDiv::-webkit-scrollbar {
	display: none;
}

.choices {
    height: 50px;
    width: auto;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 750px;
    color: rgba(165, 93, 130, 0.9);
}

.labelsInputsDiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 400px;
    width: 100%;
}

.createCardInputs {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 280px;
}

.inputForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 92%;
    font-size: 25px;
}

.createCardLabel {
    display: flex;
    justify-content: flex-end;
    width: 190px;
    height: 35px;
    margin-right: 6px;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 42px;
}

.inputField {
    height: 42px;
    width: 100%;
    background-color: rgb(224, 234, 242);
    border-radius: 5px;
    color: rgb(32, 60, 87);
    font-size: 20px;
    padding-left: 10px;
    border: 4px solid rgb(32, 60, 87);
    margin-right: 20px;
    margin-bottom: 25px;
    outline: none;
}

.inputField::placeholder {
    color: rgb(32, 60, 87, 0.8);
    font-size: 20px;
}

.addToDeckButton, .clearCardButton {
    height: 50px;
    background-color: rgb(32, 60, 87);
    color: rgb(248, 245, 245);
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    height: 45px;
    width: 180px;
}

.addToDeckButton:hover, .clearCardButton:hover {
    background-color: rgb(176, 198, 221);
    color: rgb(32, 60, 87);
}
