.bannerDiv {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 7vh;
	width: 100%;
	background-color: rgb(243, 245, 246);
}

.userDiv {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 60px;
	width: 200px;
	margin-right: 20px;
}

.userName {
	color: rgba(1, 5, 53, 0.9);
	font-size: 22px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 40px;
	width: 150px;
	margin-right: 20px;
	margin-bottom: 5px;
}

.logoImage {
	content:url("../../Assets/logo.png");
	width: 170px;
	height: 45px;
	margin-left: 15px;
  }

  .bannerContainer {
	  display: flex;
	  flex-direction: column;
  }

  .decorDiv {
	  height: 15px;
	  background-color: rgba(66, 66, 133, 0.9);
	  border-bottom: 1px solid rgb(243, 245, 246);
  }
