.majorActionDiv {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	height: 320px;
	width: 1500px;
	background-color:  rgb(243, 245, 246);
}

.majorDiv {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 170px;
	width: 250px;
	margin-left: 25px;
	border-radius: 5%;
	color:  rgb(243, 245, 246);
	font-size: 25px;
}

.assignmentDiv {
    background-color: rgba(165, 128, 93, 0.9);
}

.studentDiv {
    background-color: rgba(165, 93, 94, 0.9);

}

.videoDiv {
    background-color: rgba(165, 93, 130, 0.9);
}

.assignmentDiv:hover {
	background-color: rgb(158, 122, 86);
}

.studentDiv:hover {
	background-color: rgb(139, 72, 73);
}

.videoDiv:hover {
	background-color: rgb(136, 67, 103);
}

.cardDiv {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 175px;
	margin-left: 25px;
	margin-top: 20px;
	border: 2px solid rgba(80, 5, 230, 0.9);
}

.cardView {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	height: 100%;
	background-color:  rgb(243, 245, 246);
	min-width: 600px;
	width: 1320px;
	overflow-x: scroll;
}

.cardHolder {
	width: 300px;
}

.textDiv {
	display: flex;
	align-items: center;
	padding-left: 20px;
	color: rgba(1, 5, 53, 0.9);
	font-size: 20px;
	margin-top: 10px;
	height: 30px;
	width: 100%;
	background-color:  rgb(243, 245, 246);
}

.majorActionCancel {
	width: 50px;
	height: 50px;
	border: none;
	background-color:  rgb(243, 245, 246);
	font-size: 20pt;
	color: rgba(0, 168, 255, 0.7)
}

.previewChoice {
	list-style-type: circle;
}

.previewText {
	padding: 5px;
}
