.majorActionDiv {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	height: 25vh;
	width: 100%;
	background-color: whitesmoke;
	border-top: 2px solid rgba(1, 5, 53, 0.9);
}

.majorDiv {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 170px;
	width: 250px;
	margin-left: 25px;
	border-radius: 5%;
	color: whitesmoke;
	font-size: 25px;
	/* box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75); */
}

.assignmentDiv {
    background-color: rgba(66, 66, 133, 0.9);
}

.studentDiv {
    background-color: rgba(171, 171, 172, 0.9);

}

.videoDiv {
    background-color: rgba(0, 168, 255, 0.7);
}

.assignmentDiv:hover {
    overflow: hidden;
    background-image: linear-gradient(270deg,rgba(66, 66, 133, 0.9),  rgba(1, 5, 53, 0.9));
    background-size: 400% 400%;
    animation: TransitioningBackground 5s ease infinite;
    transition: 0.6s;
	cursor: pointer;
}

.studentDiv:hover {
    overflow: hidden;
    background-image: linear-gradient(270deg,rgba(171, 171, 172, 0.9),  rgba(0, 168, 255, 0.7));
    background-size: 400% 400%;
    animation: TransitioningBackground 5s ease infinite;
    transition: 0.6s;
	cursor: pointer;
}

.videoDiv:hover {
    overflow: hidden;
    background-image: linear-gradient(270deg,rgba(0, 168, 255, 0.7),  rgba(171, 171, 172, 0.9));
    background-size: 400% 400%;
    animation: TransitioningBackground 5s ease infinite;
    transition: 0.6s;
	cursor: pointer;
}

.cardDiv {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 175px;
	margin-left: 25px;
	margin-top: 20px;
	border: 2px solid rgba(1, 5, 53, 0.9);
}

.cardView {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	height: 100%;
	background-color: whitesmoke;
	min-width: 600px;
	width: 1320px;
	overflow-x: scroll;
	/* border-top: 2px solid rgba(1, 5, 53, 0.9); */
}

.cardHolder {
	width: 300px;
}

.textDiv {
	display: flex;
	align-items: center;
	padding-left: 20px;
	color: rgba(1, 5, 53, 0.9);
	font-size: 20px;
	margin-top: 10px;
	height: 30px;
	width: 100%;
	background-color: whitesmoke;
}

.majorActionCancel {
	width: 50px;
	height: 50px;
	border: none;
	background-color: whitesmoke;
	font-size: 20pt;
	color: rgba(0, 168, 255, 0.7)
}

.previewChoice {
	list-style-type: circle;
}

.previewText {
	padding: 5px;
}
