
.searchBarDiv {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100px;
	width: 100%;
	background-color:  rgb(243, 245, 246);
	background-image: url('../../images/bookshelf.png');
	background-size: contain;
	filter: sepia(30%);
	/* opacity: 0.9; */
}

.searchBarInner {
	display: flex;
	flex-direction: row;
	/* bottom: 55px; */
	/* position: relative; */
}
.searchBar {
	position: relative;
	display: flex;
	align-items: center;
	height: 30px;
	width: 500px;
	background-color:  rgb(243, 245, 246);
	border-radius: 5px 0px 0px 5px;
	padding-left: 10px;
	margin-left: 20px;
	border: 2px solid rgb(69, 105, 139);
	color: rgb(69, 105, 139);
	opacity: 1;
	font-size: 22px;
}

.searchBar::placeholder {
	color: rgb(69, 105, 139, 0.8);
	font-size: 17px;
}
.searchBar:focus {
	outline: none;
}


.searchBarButton {
	height: 36px;
	border: none;
	border-radius: 0px 5px 5px 0px;
	background-color: rgb(69, 105, 139);
	border-right: 2px solid rgb(69, 105, 139);
	border-bottom: 2px solid rgb(69, 105, 139);
	border-top: 2px solid rgb(69, 105, 139);
	color:  rgb(243, 245, 246);
}

.searchBarButton:hover {
	background-color: rgb(134, 164, 194);
	color: rgb(24, 52, 78);
}
