
.searchBar {
	display: flex;
	align-items: center;
	height: 25px;
	width: 500px;
	margin-left: 10px;
	background-color: whitesmoke;
	border-radius: 2px 0px 0px 2px;
	padding-left: 10px;
	margin-left: 20px;
	border: 2px solid rgba(1, 5, 53, 0.9);
	color: rgba(1, 5, 53, 0.9);
}

.searchBar:focus {
	outline: none;
}

.searchBarDiv {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 8vh;
	width: 100%;
	background-color: whitesmoke;
	border-top: 4px solid rgba(66, 66, 133, 0.9);
}

.searchBarButton {
	height: 31px;
	border: none;
	border-radius: 0px 2px 2px 0px;
	background-color: rgb(66, 66, 133, 0.9);
	border-right: 2px solid rgba(1, 5, 53, 0.9);
	border-bottom: 2px solid rgba(1, 5, 53, 0.9);
	border-top: 2px solid rgba(1, 5, 53, 0.9);
	color: whitesmoke;
}

.searchBarButton:hover {
    overflow: hidden;
    background-image: linear-gradient(270deg,rgba(1, 5, 53, 0.9),  rgba(0, 168, 255, 0.7));
    background-size: 400% 400%;
    animation: TransitioningBackground 10s ease infinite;
    transition: 0.6s;
	cursor: pointer;
}
