
.bodyDiv {
	height: 91vh;
	display: flex;
}

.mainDiv {
	width: 100%;
	height: 100%;
	/* background-color: rgb(243, 245, 246); */
}

.teacherDiv {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.fullPageDiv {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}

.myButton {
	font-size: 15px;
	color: whitesmoke;
    text-align: center;
	border-radius: 5px;
	margin-left: 20px;
	height: 50px;
	width: 90px;
	background-color: rgba(1, 5, 53, 0.9);
	text-decoration: none;
}
