
.yourDecksDiv {
	display: flex;
	flex-direction: column;
	height: 55vh;
	background-color: whitesmoke;
	overflow: scroll;
	border-top: 2px solid rgba(1, 5, 53, 0.9);
}

.textDiv {
	display: flex;
	align-items: center;
	padding-left: 20px;
	color: rgba(1, 5, 53, 0.9);
	font-size: 20px;
	margin-top: 10px;
	height: 30px;
	width: 100%;
	background-color: whitesmoke;
}

.yourFoldersDiv {
	height: auto;
	width: 100%;
	margin-top: 20px;
}

.folder {
	margin-left: 20px;
	width: auto;
	height: 25px;
	color:rgba(1, 5, 53, 0.9);
}

.allDecksDiv {
	display: flex;
	flex-wrap: wrap;
}

.deckDiv {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	width: 130px;
	height: 100px;
	margin-left: 25px;
	margin-top: 20px;
	border: 2px solid rgba(1, 5, 53, 0.9);
}

.deckDiv:hover {
	margin-top: 12px;
}

.deckText {
	height: 60px;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: rgba(1, 5, 53, 0.9);
	font-size: 13px;
	background-color: whitesmoke;
	margin-top: 3px;
}

.deckImage {
	height: 80px;
}

.image {
	padding: 0;
	margin: 0;
	height: 80px;
	width: 100px;
}
