
.yourDecksDiv {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 500px;
	overflow: scroll;
	background-color: rgb(243, 245, 246);
	cursor: pointer;
	padding-left: 10px;
	color: rgba(1, 5, 53);
}

.yourDeckTextDiv {
	display: flex;
	align-items: center;
	padding-left: 20px;
	color: rgba(1, 5, 53, 0.6);
	font-size: 20px;
	margin-top: 10px;
	height: 30px;
	width: 100%;
	background-color:  rgb(243, 245, 246);
}

.allDecksDiv {
	display: flex;
	flex-wrap: wrap;
}

.deckDiv {
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	width: 137px;
	height: 94px;
	margin: 10px;
	border: 3px solid rgba(1, 5, 53, 0.9);
	box-sizing: border-box;
}

.miniHeader {
	height: 22px;
}

.deckDiv:hover {
	transform: translateY(-5px)
}

.deckText {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	color: rgba(1, 5, 53);
	font-size: 15px;
	background-color:  rgb(243, 245, 246);
}

.miniDeckDiv {
	height: 94px;
	width: 163px;
	margin: 20px;
}

.miniDeckName {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	font-size: 18px;
	overflow: hidden;
	text-align: center;
}

.miniCreatedBy {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 22px;
	padding-right: 5px;
	border-top: 2px solid rgba(1, 5, 53, 0.6);
}
