.confirmAssignDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(165, 128, 93, 0.5);
    color:  rgb(32, 60, 87);
    padding-top: 50px;
}
.confirmAssignText {
    height: 200px;
    width: 400px;
    margin-bottom: -20px;
    margin-top: -5px;
}

.choiceButtonDiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    height: 200px;
}


.yesChoice {
    margin-top: -5px;
    color: rgb(69, 105, 139);
}
